@import url("https://fonts.googleapis.com/css?family=Roboto:700|Roboto:400");

body {
	font-family: "Roboto", "sans-serif";
	font-weight: 400;
	background-color: var(--background);
}

h1, h2, h3, h4, h5 {font-family: "Roboto"; font-weight: 700;}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.21rem; margin: 0; /* 67.36px */}

h2 {font-size: 3.158rem; margin: 0; /* 50.56px */}

h3 {font-size: 2.369rem; margin: 0; /* 37.92px */}

h4 {font-size: 1.777rem; margin: 0; /* 28.48px */}

h5 {font-size: 1.333rem; margin: 0; /* 21.28px */}

small {font-size: 0.75rem; /* 12px */}

a {text-decoration: none; color: var(--text);}

:root {
	--text: #010d11;
    --background: #f2fbfe;
    --background-darker: #ededed;
    --background-dark: #acacac;
    --primary: #1ab1f5;
    --secondary: #c778f9;
    --accent: #f73df6;
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	padding: 20px 100px;
    gap: 20px;
	background-color: var(--primary);
}

.header h4, .header a {
    color: var(--background);
}

.nav {
    display: flex;
    gap: 15px;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0 auto;
    margin: 200px 100px;
    gap: 100px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 300px;
    gap: 20px;
}

button {
    display: inline-block;
    max-width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--background);
    cursor: pointer;
}

.img {
    background-color: var(--accent);
    color: var(--background);
    width: 400px;
    height: 250px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}

/* content */
.card-img {
    border: var(--accent) 5px solid;
    color: var(--text);
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.card {
    width: 200px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px 100px;
}

.content {
    background-color: var(--background-darker);
    margin: 100px 0px;
    padding: 30px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* quote */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 70px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: end;
    border: 3px solid var(--secondary);
    border-radius: 5px;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    flex: 0 1 auto;
}

.quote h5 {
    font-weight: normal;
    font-style: italic;
}

.quote p {
    font-weight: 700;
}

/* CTA */
.cta-text {
    display: flex;
    flex-direction: column;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    margin: 70px 0px;
    padding: 50px;
    background-color: var(--primary);
    color: var(--background);
}